# Main # #
#############
/vendor/

# Packages #
############
# From: https://help.github.com/articles/ignoring-files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# NetBeans directory
/nbproject/private/
