# display restructuredText as HTML by default
# @author Rob McBroom skurfer <github@skurfer.com>
# @see    https://github.com/skurfer/RenderMarkdown
RewriteRule .+\.(rst)$ autorender_rst.php
RewriteRule .+\.(rst)\-text$ autorender_rst.php [L]
